
/* Hide "more colours" in product thumbnails */
.shop-item .pop-product-more-colors {
    visibility: hidden;
}

/* Hide add to wishlist */
form[name=add-to-wishlist] {
    display: none;
}

/* Hide newsletter option in checkout */
.follow-up label[for=confirmation-newsletter-input] {
    visibility: hidden;
}

/* Hide newsletter option in sign up */
.signup-box-newsletter {
    display: none;
}

/* Hide newsletter option in personal details */
.personal-details-newsletter {
    display: none;
}

/* Hide not yet implemented tabs in my account */
.my-account-sidebar .my-account-sidebar-items:nth-child(3),
.my-account-sidebar .my-account-sidebar-items:nth-child(5),
.my-account-sidebar .my-account-sidebar-items:nth-child(6) {
    display: none;
}

/* Hide not yet implemented reviews */
.pdp-page-review .reviews-title, .pdp-page-review .reviews-col,
.pdp-page-review button.write-review-btn, .pdp-page-review button.showmore-reviews-btn {
    display: none;
}


#github-feed {
    margin-bottom: 40px;
}
#github-feed .row {
    background-color: #FFFFFF;
    border:1px solid #D6D6D6;
    width:600px;
    margin:0 auto;
    padding-bottom: 20px;
}
#github-feed li {
    list-style-type:none;
    padding: 10px 0;
}
#github-feed li img {
    float:left;
}
#github-feed li .body {
    padding-left: 45px;
}