
<h1>Dependency Injection</h1>

<h3>During the request the following instances were injected:</h3>

<ul>
    <li><strong>Instance #{{content.instanceIdInClassA}}</strong> of InjectedClass received by ClassA</li>
    <li><strong>Instance #{{content.instanceIdInClassB}}</strong> of InjectedClass received by ClassB</li>
</ul>

<p>Tip: Same instance number means it was reused, different means it had to be instantiated again</p>
