<!-- start catalog/product-availability.hbs -->
<div class="availability">
  {{#if product.variant.available}}
      <span class="glyphicon glyphicon-ok-sign"></span>{{i18n "catalog:availability.available"}}
  {{else}}
      <span class="glyphicon glyphicon-remove-sign"></span> Not available!
  {{/if}}

</div>
<!-- end catalog/product-availability.hbs -->
