
<h1>Dependency Injection</h1>

<h3>We get an instance of InjectedClass via @Inject:</h3>

<ul>
    <li><strong>ClassA</strong> got instance #{{content.instanceIdInClassA}}</li>
    <li><strong>ClassB</strong> got instance #{{content.instanceIdInClassB}}</li>
</ul>
